# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Environment Variables
.env

# SQLite local databases
*.db
*.sqlite
*.sqlite3

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
